@font-face
{
	font-family: 'mandy';
	src: url('resources/mandy.otf');
}

html
{
	background: url('resources/Россыпь иконок.jpg');
	background-size: 40%;

	font-family: 'mandy';
	font-size: 15pt;
	color: #16286D;
}





/* navigation */
nav
{
	background: #DFDFFF;
	max-width: 980px;

	margin: auto;
	margin-top: 100px;

	border: 10px solid transparent;
	border-radius: 30px;

	text-align: justify;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}

nav .row
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

nav a
{
	font-size: 1.2em;
	color: black;
	text-decoration: none;
	font-weight: bold;

	display: block;
	margin-left: 10px;
	margin-right: 10px;
	background: #0000ff10;
	border: 10px solid transparent;
	border-radius: 20px;
}

nav .row:nth-child(n+2)
{
	margin-top: 10px;
}





/* main */
main
{
	background: #DFDFFF;
	max-width: 900px;
	min-height: 300px;

	margin: auto;
	margin-top: 10px;
	margin-bottom: 300px;

	border: 50px solid transparent;
	border-radius: 30px;

	text-align: justify;
	hyphens: auto;
}

header
{
	border-bottom: 1px solid #16286D;
	margin-bottom: 30px;
}

header *
{
	display: inline;
	padding: 0;
	margin: 0;
}

#lis
{
	height: 60px;
	margin-right: 10px;
}



/* Ссылки */
a { color: #1B1CC9; }
a:hover { color: #4B4BF6; }





/* content */
.content p
{
	margin-bottom: 5px;
	padding-bottom: 0px;
}

.content ol
{
	padding-top: 0;
	margin-top: 0;

	list-style-type: none;
	padding-left: 0px;
	margin-left: 20px;
	line-height: 1.3em;
}





/* hobby */
#apple-image
{
	width: 30%;
	float: right;
	margin-left: 80px;
	margin-bottom: 20px;
	shape-outside: circle();
}

#cactus-image
{
	width: 30%;
	float: left;
	margin-right: 80px;
	margin-bottom: 20px;
	shape-outside: circle();
}

#fire-image
{
	width: 45%;
	float: right;
	margin-top: -20px;
	margin-left: 30px;
	margin-bottom: 20px;
	shape-outside: circle();
}





/* END */
